language: go

install:
    - go get github.com/PuerkitoBio/goquery 
    - go get github.com/bogem/id3v2 
    - go get github.com/fatih/color 
    - go get github.com/grafov/m3u8 
    - go get github.com/torden/go-strutil

script:
    - go test pkg/soundcloud/* -v
    - go test pkg/utils/* -v